
/*@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans&family=DM+Serif+Display&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:wght@400;500&family=DM+Serif+Display&display=swap');

/* ==========================================
              Website Resets
============================================= */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

/*=============================================
         root, html,  and body styles
================================================*/
:root {
  --clr-primary-100: hsla(210, 71%, 96%, 100%);
  --clr-primary-200: hsla(210, 71%, 86%, 100%);
  --clr-primary-300: hsla(210, 59%, 70%, 100%);
  --clr-primary-400: hsla(210, 68%, 63%, 100%);
  --clr-primary-500: hsla(210, 67%, 54%, 100%);
  --clr-primary-600: hsla(210, 67%, 46%, 100%);
  --clr-primary-700: hsla(210, 68%, 37%, 100%);
  --clr-primary-800: hsla(210, 67%, 29%, 100%);

  --clr-neutral-100: hsla(0, 0%, 98%, 100%);
  --clr-neutral-200: hsla(0, 0%, 94%, 100%);
  --clr-neutral-300: hsla(0, 0%, 85%, 100%);
  --clr-neutral-400: hsla(0, 0%, 75%, 100%);
  --clr-neutral-500: hsla(0, 0%, 60%, 100%);
  --clr-neutral-600: hsla(0, 0%, 38%, 100%);
  --clr-neutral-700: hsla(0, 0%, 19%, 100%);
  --clr-neutral-800: hsla(0, 0%, 7%, 100%);

  --clr-augmented-100: hsla(210, 15%, 58%, 100%);
  --clr-augmented-200: hsla(210, 11%, 50%, 100%);
  --clr-augmented-300: hsla(210, 11%, 36%, 100%);
  --clr-augmented-400: hsla(210, 25%, 19%, 100%);

  --ff-font-body: 'DM Sans', sans-serif;
  --ff-font-head: 'DM Serif Display', serif;
  --ff-font-mono: 'DM Mono', monospace;

  --fw-font-weight-400: 400;
  --fw-font-weight-500: 500;

  --ls-letter-spacing: 1px;

  --br-border-radius: 5px;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  background-image: radial-gradient(circle, var(--clr-primary-700) 28%, var(--clr-primary-800) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  color: var(--clr-neutral-200);
  color: var(--clr-augmented-400);
  font-family: var(--ff-font-body);
  font-weight: var(--fw-font-weight-400);
  font-size: 1rem;
  letter-spacing: var(--ls-letter-spacing);
  transition: filter 0.5s;
}



p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--ff-font-head);
  font-weight: var(--fw-font-weight-400);
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  text-transform: capitalize;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

input {
  font-family: var(--ff-font-body);
}

*::placeholder,
input::placeholder {
  color: var(--clr-augmented-200);
}
/* =========================================
              Preloader
============================================ */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  background: var(--clr-augmented-400);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 10000;
}

#preloader-gif {
  width: 33.33%;
  align-self: center;
}

@media screen and (max-width: 768px) {
  #preloader-gif {
    width: 50%;
  }
}

/*=============================================
          wrapper
================================================*/
.wrapper {
  max-width: 500px;
  padding: 20px;
  border-radius: var(--br-border-radius);
  background: rgba(255, 255, 255, 0.4);
  background: hsla(0, 0%, 94%, 70%);;
}

/*=============================================
          wrapper-buttons
================================================*/
.wrapper-buttons {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*=============================================
          title
================================================*/
.title {
  color: var(--clr-augmented-400);
  text-align: center;
}


/*=============================================
     input, label, select
================================================*/
input, label, select {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5em;
}
label {
  margin-bottom: 1em;
  color: var(--clr-augmented-300);
  font-weight: var(--fw-font-weight-500);
}

input, select {
  color: var(--clr-augmented-400);
  font-weight: var(--fw-font-weight-500);
}

/* =============================================
               button
   ============================================= */
.button {
  max-width: 96%;
  max-width: 50%;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 1.5em;
  padding: .5em 1em;
  border: 3px solid var(--clr-primary-800);
  border-radius: var(--br-border-radius);
  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-800);
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.333s ease-in-out;
}

.button:hover {
  color: var(--clr-neutral-100);
  background: var(--clr-primary-700) radial-gradient(circle, transparent 1%, var(--clr-primary-700) 1%) center/15000%;
  border-color: var(--clr-primary-700);
}

.button:active {
  background-color: var(--clr-primary-700);
  background-size: 100%;
  transition: all 0.333s ease-in-out;
}

.button-clear {
  background-color: var(--clr-primary-700);
  border: 3px solid var(--clr-primary-700);
  transition: all 0.333s ease-in-out;
}

.button-clear:hover {
  color: var(--clr-neutral-100);
  background: var(--clr-primary-800) radial-gradient(circle, transparent 1%, var(--clr-primary-800) 1%) center/15000%;
  border-color: var(--clr-primary-800);
}

.button-clear:active {
  background-color: var(--clr-primary-800);
  background-size: 100%;
  transition: all 0.333s ease-in-out;
}


.swal-button {
  color: var(--clr-neutral-200);
  background: var(--clr-primary-800) radial-gradient(circle, transparent 1%, var(--clr-primary-800) 1%) center/15000%;
  border-color: var(--clr-primary-800);
}

.swal-button:not([disabled]):hover {
  color: var(--clr-neutral-100);
  background: var(--clr-primary-700) radial-gradient(circle, transparent 1%, var(--clr-primary-700) 1%) center/15000%;
  border-color: var(--clr-primary-700);
}

.swal-button--cancel {
  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-600);
  border: 3px solid var(--clr-primary-600);
  transition: all 0.333s ease-in-out;
}

@media (max-width: 576px) {
  .button {
    font-size: .9rem;
  }
}


/*=============================================
            horizontal line
================================================*/
.horizontal-line {
  width: 80%;
  height: 3px;
  background-color: var(--clr-primary-700);
  margin: 0 auto;
  margin-bottom: 1.75em;
}
/*=============================================
      select
================================================*/
/*the container must be positioned relative:*/
label .custom-select {
  position: relative;
  font-family: 'Roboto Mono', monospace;
}

label .custom-select select {
  display: none; /*hide original SELECT element:*/
}

label .select-selected {
  background-color: #d1d1d1;
}

/*style the arrow inside the select element:*/
label .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
label .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
label .select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
label .select-items {
  position: absolute;
  background-color: #d1d1d1;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
label .select-hide {
  display: none;
}

label .select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}




/*=============================================
            input[type=range]
================================================*/
.range {
  height: 80px;
  max-width: 100%;
  width: 100%;
  background: #fff;
  background: var(--clr-augmented-100);
  border-radius: 10px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-value {
  position: relative;
  width: 100%;
}

.slider-value span {
  position: absolute;
  height: 48px;
  width: 48px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  font-family: var(--ff-font-mono);
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  color: var(--clr-augmented-100);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.slider-value span.show {
  transform: translateX(-55%) scale(1);
}

.slider-value span:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #19334d;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transform: translateX(-78%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.field .value {
  position: absolute;
  font-size: 18px;
  color: tomato;
  color: var(--clr-augmented-400);
  font-weight: 600;
}

.field .value.left {
  left: -22px;
}

.field .value.right {
  right: -43px;
}

.range input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #19334d;
  border-radius: 50%;
  background: #19334d;
  border: 1px solid #19334d;
  cursor: pointer;
}

.range input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #19334d;
  border: 1px solid #19334d;
  cursor: pointer;
}

.range input::-moz-range-progress {
  background: #19334d; /*this progress background is only shown on Firefox */
}